
.home_image{
    background-size: 100% 100%;
    height: 480px;
    background: linear-gradient(to top, rgb(255, 255, 255) 10%,rgba(255,255,255,0) 50%),url('src/assets/login1.jpg');
    background: url('src/assets/login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
.home_para{
    margin: auto;
    margin-top: 2rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 50%,rgba(255,255,255,0) 100%),url('/src/assets/footer.jpg');
    background-repeat: no-repeat;
    background-position: center 60%;
    height: 400px;
    background-size: cover ;
}
.home_para>h2{
    text-align: center;
}
.home_para>p{
    max-width: 1000px;
    margin:auto;
    margin-top: 2rem;
    font-weight: 600;
    font-style: italic;
}
.home_grid{
    padding: 2rem;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 20%,rgba(255,255,255,0) 100%),url('/src/assets/himalaya.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    overflow: hidden;
}
.home_grid_carousel{
    grid-column: 2/span 1;
    object-fit: contain;
    z-index: 0;
}
.home_carousel_image{
    border: 5px solid steelblue;
    width:100%;
    object-fit: contain;
    transition: scale 200ms ;
}
.home_carousel_image:hover{
    scale: 1.02;
}
.home_grid>div:nth-child(2){
    text-align: center;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-style: italic;
}